ion-content {
    --background: linear-gradient(
        135deg,
        rgb(255, 182, 24), 
        rgb(243, 74, 32)
        );
}

ion-card {
    --background: white;
}

ion-card.card-transparente {
    --background: transparent;
    ion-card-title {
        color: white;
        text-align: center;
    }
    box-shadow: none;
    img {
        width: 30%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-card-subtitle {
    margin-top: 10px;
}

ion-searchbar {
    --background: white;
}

.card-menu {
    position: relative;
}

.card-menu ion-button {
    position: absolute;
    top: 0;
    right: 0;
    --background: transparent;
    --background-activated: rgb(180, 59, 59);
}
