<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA - Início
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/add-pizza']">
        <ion-icon name='add' color='danger'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
    <br />
    <br />
    <div *ngIf="catalogo !== undefined && catalogo.length > 0">
      <div *ngFor="let pizza of catalogo">
        <ion-card>
          <div class="card-menu">
            <img src="../assets/pizza1.jpg" />
            <ion-button (click)="exibirOpcoes(pizza.id)">
              <ion-icon name='more' mode='md'></ion-icon>
            </ion-button>
          </div>
          <ion-card-content>
            <ion-card-title>
              {{pizza.nomePizza}}
            </ion-card-title>
            <ion-card-subtitle>
              {{pizza.descricaoPizza}}
            </ion-card-subtitle>
            <div>
              <h1 text-right>{{pizza.precoPizza}}</h1>
            </div>
            <div text-center class="ion-margin-top">
              <ion-button color='danger' expand="block" (click)="comprar(pizza.id)">
                <ion-icon name='cart' slot='start'></ion-icon> Comprar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div *ngIf="catalogo.length == 0">
      <ion-card class="card-transparente">
        <img src="../assets/nao-tem-pizza.png"/>
        <ion-card-title>
          Não há pizzas no momento.
        </ion-card-title>
      </ion-card>
    </div>
  </div>
</ion-content>